.sidebarOptions {
  
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.sidebarOptions:hover{
    background-color: var(--whole-color);
    border-radius: 30px;
    color: var(--box-color);
    transition: color 100ms ease-out;
}

.sidebarOptions > .MuiSvgIcon-root {
    padding: 2px
}

.sidebarOptions > h2 {
    font-weight: 700;
    font-size: 18px;
    margin-right: 20px;
    
}

.sidebarOptions--active {
    color: var(--box-color)
}